@{
    ViewData["Title"] = "Linkedln - Social Media";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}


<div class="main-container container-fluid">


    <div class="page-header">
        <h1 class="page-title">@ViewBag.Title</h1>
        <div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </div>
    </div>

    Test Linkedln 

</div>
