<!-- META DATA -->
<meta charset="UTF-8">
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="CNS YAZILIM  MARKETING">
<meta name="author" content="CNS Yazılım">
<meta name="keywords"  content="CNS YAZILIM ">

<!-- FAVICON -->
<link rel="shortcut icon" type="image/x-icon" href="~/assets/images/brand/favicon.ico">

<!-- TITLE -->
<title> @ViewBag.Title - CNS YAZILIM </title>

<!-- BOOTSTRAP CSS -->
<link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- STYLE CSS -->
<link href="~/assets/css/style.css" rel="stylesheet">

<!-- Plugins CSS -->
<link href="~/assets/css/plugins.css" rel="stylesheet">

<!-- Animate css -->
<link href="~/assets/css/animated.css" rel="stylesheet">

<!--- FONT-ICONS CSS -->
<link href="~/assets/css/icons.css" rel="stylesheet">

<!-- INTERNAL Switcher css -->
<link href="~/assets/switcher/css/switcher.css" rel="stylesheet">

<link href="~/assets/switcher/demo.css" rel="stylesheet">

<!-- Custom -->

<link href="~/CustomScript/DataTable/CustomTable.css" rel="stylesheet" />
<link href="~/assets/plugins/toastr/toastr.min.css" rel="stylesheet" />

<link href="~/css/filter-input.css" rel="stylesheet" />

